.DS_Store
.env
evaluation_basics/.env
.idea/
node_modules/
**/*.db
.vscode/
.env.txt
S/web/storage/text/2025-01-21/b25c62d7-1a19-4ac4-827b-0b06683a0977/S00E01-Generatywna-Sztuczna-Inteligencja-1729062000.md
